.label {
  position: relative;
  line-height: 22px;
  display: inline-block;
  mix-blend-mode: normal;
  min-width: 54px;
}
.calendartodayfilledIcon {
  height: 30px;
  width: 30px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.icon,
.labelParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.labelParent {
  flex: 1;
  border-radius: var(--br-9xs);
  background-color: var(--white);
  border: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-mini) var(--padding-xs);
  min-width: 93px;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-gray-100);
  font-family: var(--font-roboto);
}
